.auth-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.auth-decor {
    background: linear-gradient(359deg, #03034B 22.04%, #3822E1 232.48%);
    position: relative;
}

html,
body {
    height: 100%;
}

.auth-shapes {
    position: absolute;
    bottom: 0;
    inset-inline: 0;
}

.auth-decor img {
    max-width: 80%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 280px;
    margin: 0 auto;
}

.auth-title {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.225px;
    margin-bottom: 26px;
}

.form-group {
    margin-bottom: 32px;
}

.btn {
    width: 100%;
    margin-top: 32px;
}

form {
    width: 100%;
}