.home-container {
    max-width: 90vw;
    margin: 0 auto;
    margin-bottom: 48px;
}

.home-header {
    width: 100%;
    height: 358px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 24px;
}

.home-header * {
    position: relative;
}

.home-header img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
}

.header-desc {
    display: flex;
    flex-direction: column;
    padding: 22px 37px;
    color: white;
}

.header-desc h3 {
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.header-desc p {
    font-size: 15px;
    font-style: normal;
    font-weight: 200;
    line-height: 24px;
}

.home-recommend-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 28px;
}

.home-recommend-header h1 {
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-buttons {
    display: flex;
    gap: 11px;
}
