.review {
    display: flex;
}

.review-header {
    margin: 5vh;
}

.review-section {
    margin: 5vh;
    display: flex;
}

.review-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.review-card {
    width: 100%;
    min-height: 30vh;
    margin: 3vh 0 3vh 0;
    background-color: var(--midnight-blue);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review-img img {
    width: 10vw;
    height: auto;
    margin: 1vh;
    border-radius: 10px;
    border: 1px solid var(--white);
    /* box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19); */
}

.review-detail {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin: 10px;
    width: 90%;
}

.review-info {
    margin: 3vh 3vh 1vh 1vh;
    color: var(--white);
    width: 90%;
    height: auto;
}

.review-title {
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.movie-desc-box {
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;

    padding: 10px;
    margin: 20px 10px 20px 0px;
    max-height: 70%;
    overflow-y: auto;
}

.review-panel {
    width: 20%;
}

#rate-text {
    color: #f5c844;
}

.review-panel {
    margin: 0vh 3vh 0vh 3vh;
    display: flex;
    flex-direction: column;
}

.btn {
    margin-top: 20px;
}

.review-date {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#delete-btn {
    background-color: var(--alert);
    color: var(--white);
}

/* modals */
.modal {
    position: fixed;
    width: 50vw;
    height: 40vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

dialog::backdrop {
    background-color: rgba(26, 29, 78, 0.3);
}

.modal-delete-group {
    width: 100%;
    height: 100%;
}

.info-icon {
    width: 100%;
    display: flex;
}

.info-title,
.info-desc {
    padding: 5px;
    text-align: center;
}

.bi-exclamation-triangle {
    margin: auto;
    color: var(--alert);
}

#cancel-btn,
#confirm-btn {
    font-size: larger;
    padding: 20px;
    width: 40%;
}

.modal-delete-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#confirm-btn {
    background-color: var(--alert);
    color: var(--white);
}

@media (max-width: 900px) {
    .modal {
        height: 50vh;
    }
}

@media (max-width: 600px) {
    .review-container {
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
    /* .review-card-wrap {
        display: flex;
    } */

    .review-card {
        width: 100%;
        height: auto;
        margin: 3vh 0 3vh 0;
        background-color: var(--midnight-blue);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .review-img img {
        width: 50vw;
        height: auto;
        margin: auto;
        border: 1px solid var(--white);
        /* box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19); */
    }

    .review-detail {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        /* width: 80%; */
    }

    .review-title {
        font-size: small;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .movie-desc-box {
        background-color: rgba(255, 255, 255, 0.13);
        border-radius: 10px;

        padding: 10px;
        margin: 20px 10px 0px 0px;
        max-height: 70%;
        overflow-y: auto;
    }

    .review-panel {
        margin: 0vh 3vh 3vh 3vh;
        width: 80%;
    }

    .review-date {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .username-text {
        margin: 10px 0 10px 0;
    }

    .modal-delete-panel {
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
    }

    #cancel-btn,
    #confirm-btn {
        margin: auto;
        margin-top: 20px;
        font-size: larger;
        padding: 20px;
        width: 80%;
    }

    .modal {
        height: 70vh;
    }
}
